.startDisplay {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.startGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", sans-serif;
  background-color: yellow;
  flex: 1;
}

.startGame h2 {
  display: flex;
  gap: 1rem;
}

.startGame h2,
.startGame span {
  font-size: 2.5rem;
  color: blue;
}

.grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 0.3fr 1fr;
  width: 100%;
  flex: 1;
}

.gridOne,
.gridFour {
  background-color: blue;
  color: white;
  font-family: "Courier New", sans-serif;
}

.gridOne {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 4rem;
}

.gridOne h1 {
  font-size: 7rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.gridOne p {
  font-size: 3.5rem;
}

.gridTwo,
.gridThree {
  color: blue;
  font-family: "Courier New", sans-serif;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridThree {
  font-size: 1.96rem;
}

.gridFour {
  font-size: 3.5rem;
  display: flex;
  margin: 0 auto;
}

.startGame button {
  padding: 1rem;
  font-size: 2.5rem;
  background-color: yellow;
  color: blue;
  border: none;
  font-family: "Courier New", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.startGame button:hover {
  transform: translateY(-5px);
}

.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 2rem;
  font-family: "Courier New", sans-serif;
  background-color: black;
  padding-right: 1rem;
  padding-left: 1rem;
}

.footer ul li:nth-of-type(1) {
  color: red;
}

.footer ul li:nth-of-type(2) {
  color: greenyellow;
}

.footer ul li:nth-of-type(3) {
  color: yellow;
}

.footer ul li:nth-of-type(4) {
  color: lightskyblue;
}
