.questionLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.answerWrapper {
  height: 100px;
  clip-path: polygon(
    20px 0%,
    calc(100% - 20px) 0%,
    100% 50%,
    calc(100% - 20px) 100%,
    20px 100%,
    0% 50%
  );
  background: yellow;
  padding: 2px;
}

.answers {
  height: 100px;
  clip-path: polygon(
    20px 0%,
    calc(100% - 20px) 0%,
    100% 50%,
    calc(100% - 20px) 100%,
    20px 100%,
    0% 50%
  );
  background: darkblue;
  color: white;
  padding: 1rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.2s ease;
}

.answers:hover {
  transform: translateY(-5px);
}

.correct {
  background: green;
}
.incorrect {
  background: red;
}

.timerNormal {
  text-align: center;
  margin-top: 2rem;
  color: white;
}
