.sidebar {
    position: absolute;
    left: 50px;
    height: 80vh;
    background-color: rgb(59, 59, 230);
    padding: 40px 60px 40px 60px;
    border-radius: 20px;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
}

.sidebarLi {
    border: 2px solid black;
    border-radius: 5px;
    width: 70px;
    height: auto;
    padding: 2px;
    box-sizing: border-box;
}